<div class="container-fluid aboutBackground fadeInDown">
    <div>
        <h1 class="aboutTitle">O nama</h1>
    </div>    
</div>
<div class="container-fluid aboutBackgroundImg fadeInDown"><img class="slika" src="assets/s009.png" ></div>
    <div class="container aboutText fadeInDown">
    <p>
        Sudska vlast u Republici Srbiji pripada sudovima opšte i posebne nadležnosti.
        Sudovi opšte nadležnosti su Osnovni, Viši i Apelacioni sudovi i Vrhovni kasacioni sud, kao najviši sud u zemlji.
        Sudovi posebne nadležnosti su Prekršajni sudovi, Prekršajni apelacioni sud, Privredni sudovi, Privredni apelacioni sud i Upravni sud. 
    </p>
</div>


